backend/.env
backend/__pycache__/
backend/pokeapi-env/

# Ignorar la carpeta .terraform

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup