name: Build and Push Docker Images

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build Backend Image
      run: |
        docker build -t alexa1209/pokeapi-app-backend:latest backend
        docker push alexa1209/pokeapi-app-backend:latest

    - name: Build Frontend Image
      run: |
        docker build -t alexa1209/pokeapi-app-frontend:latest frontend
        docker push alexa1209/pokeapi-app-frontend:latest
